body{
    background: #18191F;
    font-family: 'Open Sans', sans-serif;
  }
  
  #sidebar{
    background: #18191F;
  }
  
  #intro{
    background: #202129;
    color: #fdfdfd;
  }
    #intro h1{
      color: #fdfdfd;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
    }
    #intro .icons{
      font-size: 40px;
      margin-bottom: 0;
    }
    #intro .inner{
      padding-top: 4em;
      padding-bottom: 4em;
    }
    #intro p{
      margin-bottom: 1em;
    }
  
  .spotlights > section > .image:before {
    background: #18191F;
  }
  
  #three{
    background: #202129;
  }
    #three .icons{
      font-size: 40px;
    }
  
  #footer{
    background: #202129;
  }
  
  .icons .fa-twitter{
    color: #00aced;
  }
  .icons .fa-github{
    color: #3BC462;
  }
  .icons .fa-envelope{
    color: #D8863A;
  }
  
  .icons a{
    opacity: 0.8;
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
  }
  .icons a:hover{
    opacity: 1;
  }
  
  .actions.app-stores{
  
  }
    .actions.app-stores a.app-store{
      display: inline-block;
      width: 135px;
      text-decoration: none !important;
      border-bottom: 0;
      margin-top: 8px;
    }


 .imagenew{
   background-image: url("/images/pic02.png");
   background-position: center center;
 }


 .inner{
   margin:auto;
 }